.body {
  padding-top: 100px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body-left {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10%;
}

.body-right {
  grid-column-start: 2;
}

.body-right-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10%;
}

button {
  border-radius: 3px;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}
