.body {
    padding-top: 100px;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.body-left {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10%;
}

.body-right {
    grid-column-start: 2;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    clip-path: circle();
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

button {
    border-radius: 3px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
}