.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  margin: 0;
  padding: 0;
}

.navbar-links {
  display: flex;
  gap: 5%;
  position: relative;
  text-align: center;
  height: inherit;
}

@media only screen and (max-width: 836px) {
  .navbar-links {
    gap: 1.5%;
    font-size: 0.5em;
  }
}
