.navbar {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 10%;
width: 100%;
margin: 0;
padding: 0;
}

.navbar-links {
display: flex;
overflow: wrap;
gap: 5%;
position: relative;
text-align: center;
height: inherit; 
}